.logs-years {
  .pagination {
    margin: 0 0 20px 0;
  }
}

.log-name {
  margin: 0 0 20px 0;
}

.log-name-edit-field {
  margin: 0 0 20px 0;
}

.log-map {
  height: 600px;
}

.log-heart-rate-bar {
  margin: 0;
}
