[server]
development = true
listen_address = ":8080"
csrf_auth_key = "SECRETSECRETSECRETSECRETSECRETSE"
signing_key = "SECRETSECRETSECRETSECRETSECRETSECRET"
mapbox_access_token = ""

[db]
driver = "postgres"
dsn = "postgres://postgres:password@postgres/tracklog?sslmode=disable"
