<div class="row">
  <div class="col-md-12">
    <h1 class="log-name">{{.Data.Log.Name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div id="map" class="log-map"></div>
    <script>
      var log = new tracklog.Log({
        tracks: {{.Data.Tracks}}
      });

      new tracklog.Map({
        log: log,
        container: document.getElementById("map"),
      });
    </script>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Details</h4>
      </div>
      <div class="panel-body kill-bottom-margin">
        <dl class="dl-horizontal-small">
          <dt>Start</dt>
          <dd>{{.Data.Log.Start}}</dd>
          <dt>End</dt>
          <dd>{{.Data.Log.End}}</dd>
          <dt>Duration</dt>
          <dd>{{.Data.Log.Duration}}</dd>
          <dt>Distance</dt>
          <dd>{{.Data.Log.Distance}}</dd>
          <dt>∅ Speed</dt>
          <dd>{{.Data.Log.Speed}}</dd>
          <dt>∅ Pace</dt>
          <dd>{{.Data.Log.Pace}}</dd>
          {{if .Data.Log.HR}}
            <dt>∅ HR</dt>
            <dd>{{.Data.Log.HR}} BPM</dd>
          {{end}}
        </dl>
      </div>
    </div>
    {{if .Data.Log.HR}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Heart Rate</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="progress log-heart-rate-bar">
              <div class="progress-bar heart-rate-none" style="width: {{.Data.Log.HRZones.None}}%"></div>
              <div class="progress-bar heart-rate-easy" style="width: {{.Data.Log.HRZones.Easy}}%"></div>
              <div class="progress-bar heart-rate-fatburning" style="width: {{.Data.Log.HRZones.FatBurning}}%"></div>
              <div class="progress-bar heart-rate-aerobic" style="width: {{.Data.Log.HRZones.Aerobic}}%"></div>
              <div class="progress-bar heart-rate-anaerobic" style="width: {{.Data.Log.HRZones.Anaerobic}}%"></div>
              <div class="progress-bar heart-rate-red" style="width: {{.Data.Log.HRZones.Red}}%"></div>
            </div>
          </li>
          {{with .Data.Log.HRZones}}
            <li class="list-group-item text-heart-rate-red">
              <span title="≥175">Red</span>
              <span class="pull-right">{{printf "%.0f%%" .Red}}</span>
            </li>
            <li class="list-group-item text-heart-rate-anaerobic">
              <span title="164–175">Anaerobic</span>
              <span class="pull-right">{{printf "%.0f%%" .Anaerobic}}</span>
            </li>
            <li class="list-group-item text-heart-rate-aerobic">
              <span title="153–164">Aerobic</span>
              <span class="pull-right">{{printf "%.0f%%" .Aerobic}}</span>
            </li>
            <li class="list-group-item text-heart-rate-fatburning">
              <span title="142–153">Fat Burning</span>
              <span class="pull-right">{{printf "%.0f%%" .FatBurning}}</span>
            </li>
            <li class="list-group-item text-heart-rate-easy">
              <span title="131–142">Easy</span>
              <span class="pull-right">{{printf "%.0f%%" .Easy}}</span>
            </li>
            <li class="list-group-item text-heart-rate-none">
              <span>None</span>
              <span class="pull-right">{{printf "%.0f%%" .None}}</span>
            </li>
          {{end}}
        </ul>
      </div>
    {{end}}
    <ul class="list-group">
      <li class="list-group-item"><a href="/logs/{{.Data.Log.ID}}/download">Download .gpx file</a></li>
      <li class="list-group-item"><a href="/logs/{{.Data.Log.ID}}" data-method="delete">Delete</a></li>
    </ul>
  </div>
</div>
